button {
  width: 300px;
  height: 200px;
  color: white;
  background-color: darkblue;
  border: solid;
  border-color: white;
  font-size: 70px;
  transition: 1s;
  border-radius: 120px;
  display:block;
  text-align: center;

  margin-left:auto;
  margin-right:auto;
}
button:hover{
  background-color: lightblue;
  color: white;
}
h1 {
 color: red;
 font-size: 40px;
 font-family: Calibri;
 text-align: center;
}
 body{
   background-color: black;
   color: navy;
   text-align: center;
 }
 .biggericon{
   font-size: 50px !important;
 }
